@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url("https://images.unsplash.com/photo-1660039031080-7779c1760a0c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", "sans-serif";
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: 5rem;
}

.Timer {
    display: flex;
}

.BigText {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.Timer {
    text-align: center;
}

.Timer span {
    font-size: 1.5rem;
}

.button-c {
    display: flex;
    flex-direction: column;
    margin-top: 58vh;
}

button {
    color: white;
    background-color: black;
}